<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to '이코빌', root_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to '매물 정보', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to '원룸', one_room_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to '투룸', two_room_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to '찾아오시는 길', map_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>