<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
  <%=
    ecovil = '신림동 이코빌'.freeze
    display_meta_tags(
      prefix: false,
      separator: ' -',
      reverse: true,
      site: ecovil,
      og: {
        title: '신림동 원룸 투룸'.freeze,
        image: image_url('overview.jpg'.freeze),
        site_name: ecovil,
        url: home_url,
        description: '신림동 쑥고개 원룸 및 투룸',
      }
    )
  %>

  <link rel="shortcut icon" href="/icon.png">
  <link rel="shortcut icon" href="/icon.png" type="image/vnd.microsoft.icon"/>
  <link rel="apple-touch-icon" href="/icon.png" type="image/png"/>
  <link rel="apple-touch-icon-precomposed" href="/icon.png" type="image/png"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= render 'ga' %>

  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
<div class="container">
  <header class="header-wrapper">
    <%= render 'navigation' %>
  </header>

  <%= yield %>

  <footer class="footer-wrapper">
    <div class="card text-xs-center">
      <div class="card-block">
        <p class="card-text">
          마음에 드셨나요? 방을 실제로 보길 원하시거나 더 궁금하신 점이 있으시다면 카톡 아이디 jehokim 이나 <a href="tel:010-9110-2921">010-9110-2921</a> 로
          연락주십시오. 보통은 제가 회사에서 일을 하고 있기 때문에 많은 전화를 받을 수 없어 전화번호는 어머니 것을
          올려놓았습니다. 카카오톡은 제 아이디입니다. 편하신 곳으로 연락주세요.
        </p>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
